In [1]:
import numpy as np

In [2]:
x = np.array([["Japan", "India"], ['Tokyo', "New Delhi"]])
y = np.array([['Afghanistan', "UK"], ["Kabul", "London"]])

In [3]:
print(x)
print(x.shape)

[['Japan' 'India']
 ['Tokyo' 'New Delhi']]
(2, 2)

In [4]:
print(y)
print(y.shape)

[['Afghanistan' 'UK']
 ['Kabul' 'London']]
(2, 2)

In [5]:
print("Joining two array along axis 0")
np.concatenate((x, y))

Joining two array along axis 0

array([['Japan', 'India'],
       ['Tokyo', 'New Delhi'],
       ['Afghanistan', 'UK'],
       ['Kabul', 'London']], dtype='<U11')

In [6]:
print("Joining two array along axis 1")
np.concatenate((x, y), axis=1)

Joining two array along axis 1

array([['Japan', 'India', 'Afghanistan', 'UK'],
       ['Tokyo', 'New Delhi', 'Kabul', 'London']], dtype='<U11')

In [7]:
a = np.array([1, 2, 3])
b = np.array([2, 3, 4])

In [8]:
np.stack((a, b))

array([[1, 2, 3],
       [2, 3, 4]])

In [9]:
np.stack((a, b), axis=1)

array([[1, 2],
       [2, 3],
       [3, 4]])

In [10]:
name = ["Alucard", "Sypha", "Belmont", "Vlad"]
student_id = [111, 222, 333, 444]
score = [91.24, 98.56, 99.89, 74.47]

In [11]:
np.stack((student_id, name, score))

array([['111', '222', '333', '444'],
       ['Alucard', 'Sypha', 'Belmont', 'Vlad'],
       ['91.24', '98.56', '99.89', '74.47']], dtype='<U32')

In [12]:
np.stack((student_id, name, score)).shape

(3, 4)

In [13]:
np.stack((student_id, name, score), axis=1)

array([['111', 'Alucard', '91.24'],
       ['222', 'Sypha', '98.56'],
       ['333', 'Belmont', '99.89'],
       ['444', 'Vlad', '74.47']], dtype='<U32')

In [14]:
np.stack((student_id, name, score), axis=1).shape

(4, 3)

In [15]:
np.vstack((student_id, name, score))

array([['111', '222', '333', '444'],
       ['Alucard', 'Sypha', 'Belmont', 'Vlad'],
       ['91.24', '98.56', '99.89', '74.47']], dtype='<U32')

In [16]:
np.hstack((student_id, name, score))

array(['111', '222', '333', '444', 'Alucard', 'Sypha', 'Belmont', 'Vlad',
       '91.24', '98.56', '99.89', '74.47'], dtype='<U32')