In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('sales.csv')

df

,OrderNum,OrderType,CustomerType,CustName,CustState,ProdCategory,ProdNumber,ProdName,Quantity,Price,Discount,OrderTotal
0,1100934,Wholesale,Business,Gusikowski Group,North Carolina,Blueprints,BP102,Bsquare Robot Blueprint,10,$8.99,$1.80,$88.10
1,1100935,Retail,Individual,Spencer Educators,Delaware,Drone Kits,DK204,BYOD-300,2,$89.00,0,$178.00
2,1100936,Wholesale,Business,Schinner Inc.,Florida,Training Videos,TV801,Aerial Security,10,$36.99,$7.40,$362.50
3,1100937,Retail,Individual,Saxon Laviss,Virginia,Robot Kits,RK602,BYOR-1000,1,$189.00,0,$189.00
4,1100938,Retail,Business,Wilderman Technologies,Texas,eBooks,EB502,Building Your First Robot,4,$24.95,0,$99.80
...,...,...,...,...,...,...,...,...,...,...,...,...
4971,1105905,Wholesale,Business,Rau-Dickinson,Kentucky,eBooks,EB503,Building Your Own Drone,5,$24.99,$5.00,$119.95
4972,1105906,Wholesale,Business,Reichel and Sons,Oklahoma,eBooks,EB502,Building Your First Robot,5,$24.95,$4.99,$119.76
4973,1105907,Wholesale,Business,Wolff LLC,South Carolina,Blueprints,BP104,Cat Robot Blueprint,10,$4.99,$1.00,$48.90
4974,1105908,Retail,Business,McClure Inc.,Utah,Drone Kits,DK209,BYOD-550,64,$179.00,0,"$11,456.00"
4975,1105909,Retail,Individual,Gussi Strodder,New York,Drone Kits,DK204,BYOD-300,1,$89.00,0,$89.00

In [4]:
df.head()

,OrderNum,OrderType,CustomerType,CustName,CustState,ProdCategory,ProdNumber,ProdName,Quantity,Price,Discount,OrderTotal
0,1100934,Wholesale,Business,Gusikowski Group,North Carolina,Blueprints,BP102,Bsquare Robot Blueprint,10,$8.99,$1.80,$88.10
1,1100935,Retail,Individual,Spencer Educators,Delaware,Drone Kits,DK204,BYOD-300,2,$89.00,0,$178.00
2,1100936,Wholesale,Business,Schinner Inc.,Florida,Training Videos,TV801,Aerial Security,10,$36.99,$7.40,$362.50
3,1100937,Retail,Individual,Saxon Laviss,Virginia,Robot Kits,RK602,BYOR-1000,1,$189.00,0,$189.00
4,1100938,Retail,Business,Wilderman Technologies,Texas,eBooks,EB502,Building Your First Robot,4,$24.95,0,$99.80

In [5]:
df.tail()

,OrderNum,OrderType,CustomerType,CustName,CustState,ProdCategory,ProdNumber,ProdName,Quantity,Price,Discount,OrderTotal
4971,1105905,Wholesale,Business,Rau-Dickinson,Kentucky,eBooks,EB503,Building Your Own Drone,5,$24.99,$5.00,$119.95
4972,1105906,Wholesale,Business,Reichel and Sons,Oklahoma,eBooks,EB502,Building Your First Robot,5,$24.95,$4.99,$119.76
4973,1105907,Wholesale,Business,Wolff LLC,South Carolina,Blueprints,BP104,Cat Robot Blueprint,10,$4.99,$1.00,$48.90
4974,1105908,Retail,Business,McClure Inc.,Utah,Drone Kits,DK209,BYOD-550,64,$179.00,0,"$11,456.00"
4975,1105909,Retail,Individual,Gussi Strodder,New York,Drone Kits,DK204,BYOD-300,1,$89.00,0,$89.00

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4976 entries, 0 to 4975
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderNum      4976 non-null   int64
 1   OrderType     4976 non-null   object
 2   CustomerType  4976 non-null   object
 3   CustName      4976 non-null   object
 4   CustState     4976 non-null   object
 5   ProdCategory  4976 non-null   object
 6   ProdNumber    4976 non-null   object
 7   ProdName      4976 non-null   object
 8   Quantity      4976 non-null   int64
 9   Price         4976 non-null   object
 10  Discount      4976 non-null   object
 11  OrderTotal    4976 non-null   object
dtypes: int64(2), object(10)
memory usage: 466.6+ KB

In [7]:
df["ProdCategory"].value_counts()

eBooks             1296
Training Videos     992
Blueprints          912
Drone Kits          552
Robot Kits          480
Drones              408
Robots              336
Name: ProdCategory, dtype: int64

In [9]:
df["OrderType"].value_counts()

Wholesale    2833
Retail       2143
Name: OrderType, dtype: int64

In [10]:
df['OrderTotal'].describe()

count        4976
unique       1215
top       $12.00
freq           90
Name: OrderTotal, dtype: object

In [11]:
df['OrderTotal'].value_counts()

$12.00         90
$8.99          90
$49.00         87
$4.99          86
$23.99         84
               ..
$1,729.00       1
$59,974.20      1
$6,469.20       1
$7,144.20       1
$768.46         1
Name: OrderTotal, Length: 1215, dtype: int64