In [1]:
# https://github.com/tategallery/collection

In [2]:
import numpy as np
import pandas as pd

In [3]:
my_array = np.random.rand(3)
my_array

array([0.78080172, 0.16021495, 0.25552053])

In [4]:
type(my_array)

numpy.ndarray

In [5]:
my_array[0]

0.7808017154482593

In [6]:
my_array[2]

0.2555205329296609

In [7]:
# Creating a pandas series
my_series = pd.Series(my_array)
my_series

0    0.780802
1    0.160215
2    0.255521
dtype: float64

In [8]:
my_series[1]

0.16021495079245318

In [9]:
my_series = pd.Series(my_array, index=['First', "Second", "Third"])
my_series

First     0.780802
Second    0.160215
Third     0.255521
dtype: float64

In [10]:
my_series["First"]

0.7808017154482593

In [11]:
my_series["Second"]

0.16021495079245318

In [12]:
my_series.index

Index(['First', 'Second', 'Third'], dtype='object')

In [13]:
array_2d = np.random.rand(3, 2)
array_2d

array([[0.67819887, 0.96521607],
       [0.33375765, 0.98073138],
       [0.51753171, 0.26920573]])

In [14]:
array_2d[0, 0]

0.6781988687450307

In [15]:
array_2d[1, 1]

0.9807313793408261

In [16]:
df = pd.DataFrame(array_2d)
df

          0         1
0  0.678199  0.965216
1  0.333758  0.980731
2  0.517532  0.269206

In [17]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [18]:
df.columns = ["First", "Second"]
df

      First    Second
0  0.678199  0.965216
1  0.333758  0.980731
2  0.517532  0.269206

In [19]:
df["Second"]

0    0.965216
1    0.980731
2    0.269206
Name: Second, dtype: float64

In [20]:
type(df["Second"])

pandas.core.series.Series