In [1]:
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('datasets/housing.csv')
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8302,-118.13,33.76,44.0,2532.0,621.0,961.0,550.0,3.9352,406900.0,NEAR OCEAN
840,-122.06,37.60,18.0,1726.0,276.0,1186.0,310.0,5.3226,231700.0,NEAR BAY
14040,-117.14,32.75,20.0,1182.0,379.0,678.0,326.0,2.1937,162500.0,NEAR OCEAN
8658,-118.39,33.85,24.0,4373.0,871.0,1830.0,824.0,5.7128,366200.0,<1H OCEAN
4468,-118.16,34.09,33.0,1515.0,415.0,1345.0,346.0,2.3750,175000.0,<1H OCEAN

In [4]:
housing_data = housing_data.dropna()
housing_data.shape

(20433, 10)

In [5]:
housing_data.loc[housing_data["median_house_value"] == 500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [8]:
housing_data = housing_data.drop(housing_data.loc[housing_data["median_house_value"] == 500001].index)
housing_data.shape

(19475, 10)

In [9]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [10]:
housing_data["ocean_proximity"].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [11]:
housing_data = pd.get_dummies(housing_data, columns=["ocean_proximity"])

In [12]:
housing_data.shape

(19475, 14)

In [13]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
13599,-117.25,34.16,31.0,1516.0,238.0,596.0,255.0,4.3362,159400.0,0,1,0,0,0
4018,-118.59,34.14,19.0,1303.0,155.0,450.0,145.0,10.5511,483100.0,1,0,0,0,0
2276,-119.79,36.80,27.0,2462.0,484.0,852.0,449.0,3.3200,124700.0,0,1,0,0,0
1183,-121.52,39.50,33.0,1462.0,241.0,569.0,231.0,3.2833,82600.0,0,1,0,0,0
7461,-118.18,33.93,31.0,1516.0,400.0,1820.0,398.0,2.1641,122900.0,1,0,0,0,0

In [14]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0

In [16]:
X = housing_data.drop("median_house_value", axis=1)
Y = housing_data["median_house_value"]

In [17]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [18]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [19]:
x_train.shape, x_test.shape

((15580, 13), (3895, 13))

In [20]:
y_train.shape, y_test.shape

((15580,), (3895,))