In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('datasets/housing.csv')

housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
12478,-121.48,38.59,52.0,1186.0,341.0,1038.0,320.0,1.6116,70500.0,INLAND
7619,-118.24,33.83,22.0,7368.0,1367.0,4721.0,1342.0,4.8438,213100.0,<1H OCEAN
9492,-123.20,39.23,26.0,786.0,168.0,494.0,161.0,2.3583,105400.0,<1H OCEAN
17441,-120.45,34.66,7.0,3329.0,504.0,1462.0,452.0,4.7875,198300.0,NEAR OCEAN
13333,-117.66,34.04,10.0,3657.0,695.0,2079.0,663.0,4.2054,159900.0,INLAND

In [3]:
housing_data = housing_data.dropna()

In [4]:
housing_data.shape

(20433, 10)

In [5]:
housing_data.loc[housing_data['median_house_value'] == 500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [6]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value'] == 500001].index)

In [7]:
housing_data.shape

(19475, 10)

In [8]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [9]:
housing_data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [10]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])
housing_data.shape

(19475, 14)

In [11]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
20402,-118.86,34.21,26.0,3354.0,659.0,2020.0,648.0,4.1576,211800.0,1,0,0,0,0
333,-122.17,37.74,43.0,818.0,193.0,494.0,179.0,2.4776,101600.0,0,0,0,1,0
9457,-123.84,39.83,19.0,1461.0,340.0,515.0,227.0,1.5278,145800.0,0,0,0,0,1
1995,-119.77,36.72,43.0,1763.0,389.0,1623.0,390.0,1.4427,47700.0,0,1,0,0,0
3545,-118.63,34.24,9.0,4759.0,924.0,1884.0,915.0,4.8333,277200.0,1,0,0,0,0

In [12]:
median = housing_data["median_house_value"].median()
median

173800.0

In [13]:
housing_data["above_median"] = (housing_data["median_house_value"] - median) > 0

In [14]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
6682,-118.09,34.15,49.0,1467.0,259.0,688.0,260.0,4.3452,260100.0,0,1,0,0,0,True
11710,-120.16,39.14,21.0,2484.0,460.0,309.0,144.0,3.9722,127800.0,0,1,0,0,0,False
3932,-118.59,34.20,18.0,847.0,185.0,733.0,178.0,5.2149,201900.0,1,0,0,0,0,True
14815,-117.18,32.70,44.0,2655.0,514.0,1102.0,489.0,3.6759,368800.0,0,0,0,0,1,True
1396,-122.07,37.97,20.0,1705.0,353.0,856.0,341.0,3.7262,211800.0,0,0,0,1,0,True

In [15]:
X = housing_data.drop(["median_house_value", "above_median"], axis=1)

Y = housing_data["above_median"]

In [16]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [17]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [18]:
x_train.shape, x_test.shape

((15580, 13), (3895, 13))

In [19]:
y_train.shape, y_test.shape

((15580,), (3895,))

In [20]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(solver="liblinear").fit(x_train, y_train)

In [21]:
print("Training_score : " , logistic_model.score(x_train, y_train))

Training_score :  0.8200256739409499

In [22]:
y_pred = logistic_model.predict(x_test)

In [25]:
df_pred_actual = pd.DataFrame({"predicted": y_pred, "actual": y_test})

df_pred_actual.head(10)

       predicted  actual
19748      False   False
4392       False   False
3917       False    True
17439       True   False
16242      False   False
2010       False   False
7387       False   False
8910       False    True
11979      False   False
14150       True   False

In [26]:
from sklearn.metrics import accuracy_score

print("Testing_score : ", accuracy_score(y_test, y_pred))

Testing_score :  0.8223363286264441